:root {
	--layout-padding: 40px;
	--heading-font-size: 1.1em;
	/* Smaller Font Size */
	--smaller-heading-font-size: 1em;
}

/* layout */
body {
	padding: var(--layout-padding);
	background: #fff;
	font: 15px Arial, Helvetica, sans-serif;
}

.content__container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 2.5em;
}

.content__container__heading {
	display: flex;
	flex-direction: column;
	font-size: var(--heading-font-size);
	color: #888888;
	width: 12.5em;
}

.content__container__heading h1 {
	font-weight: 600;
}


.content__container__details{
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-left: 10%;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.second__heading {
	font-size: var(--heading-font-size);
	font-weight: 400;
	color: #888888;
}


@media print {
    body  {
        width: 21cm;
        height: 29.7cm;
        margin: 27mm 16mm 27mm 16mm;
   } 
}

@media screen {
	body {
		line-height: 1.4;
		margin: 2.5em 0;
	}
}

/* common */
.container {
	text-align: left;
}

h1 {
	font-size: 18px;
	margin-top: 0;
}

h2 {
	font-size: 18px;
}

.heading--black {
	font-size: var(--heading-font-size);
	font-weight: 600;
	color: black;
}

section {
	margin-bottom: 2em;
}

blockquote {
	margin: 0;
	margin-bottom: 1em;
}

.item {
	margin-bottom: 1em;
}

.key-value-item {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 5px;
}

.key-value-item label, 
.key-list-item label {
	white-space: nowrap;
	color: gainsboro;
	margin-right: 5px;
}

.key-value-item span {
	white-space: normal;
}

.content {
	position: relative;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
}

.picture {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-bottom: 2cm;
}

.picture img {
	border-radius: 50%;
}

@media screen and (max-width:600px) {
	.content__container {
		text-align: center;
		width: 100%;
	}
	.content__container__heading {
		width: 100%;
		text-align: center;
	}
	.content__container__details {
		margin: 0;
		text-align: center;
		width: 100%;
	}

	.content__container__details {
		font-size: 14px;
	}

	span {
		width: 100%;
	}

	.heading--black {
		font-size: var(--smaller-heading-font-size);
	}

	.second__heading {
		font-size: var(--smaller-heading-font-size);
	}
}