:root {
	--layout-padding: 4em;
	--second-heading--font-size: 1.4em;
	--heading-font-size: 0.8em;
	/* Smaller Font Size */
	--light-gray-color: #888888;
}

/* layout */
body {
	padding: var(--layout-padding);
	background: #fff;
	font: 15px Arial, Helvetica, sans-serif;
}

.content__container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 2.5em;
}

.content__container__heading {
	display: flex;
	flex-direction: column;
	font-size: 0.8em;
	color: var(--light-gray-color);
	width: 12.5em;
}

.content__container__heading h1 {
	font-weight: 400;
}

.content__container__details{
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-left: 10%;
}

.basics__content__container__heading {
	display: flex;
	flex-direction: column;
	color: var(--light-gray-color);
	width: 9.5em;
}

.basics__content__container__heading .heading--black {
	font-size: 1.5em;
}

.basic__content__container__details {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-left: 11%;
	color: var(--light-gray-color);
	height: 100%;
}

.basics__content__container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 2.5em;
}

.basics__content__img__container {
	display: flex;
	justify-content: center;
	width: 25%;
	height: 100%;
}

.basics__content__img__container .picture {
	width: 100%;
	height: 100%;
}

.content__container__details--gray {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-left: 10%;
	color: var(--light-gray-color);
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: square;
}




@media print {
    body  {
        width: 21cm;
        height: 29.7cm;
        margin: 27mm 16mm 27mm 16mm;
   } 
}

@media screen {
	body {
		line-height: 2em;
		margin: 2.5em 0;
	}
}

/* common */
.container {
	text-align: left;
}

h1 {
	margin-top: 0;
}

/* h2 {
	font-size: 1em;
} */

.heading--black {
	font-size: var(--second-heading--font-size);
	font-weight: 600;
	color: black;
}

.second__heading {
	font-size: var(--second-heading--font-size);
	font-weight: 400;
	color: var(--light-gray-color);
}

section {
	margin-bottom: 2em;
}

blockquote {
	margin: 0;
	margin-bottom: 1em;
}

.item {
	margin-bottom: 1em;
}

.key-value-item {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 5px;
}

.key-value-item label, 
.key-list-item label {
	white-space: nowrap;
	color: gainsboro;
	margin-right: 5px;
}

.key-value-item span {
	white-space: normal;
}

.content {
	position: relative;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
}

.picture {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-bottom: 2cm;
}

.picture img {
	border-radius: 50%;
}

@media screen and (max-width:950px) {
	.basic__content__container__details {
		width: 60%;
	}

	.basics__content__img__container {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 5em;
	}
}

@media screen and (max-width:600px) {
	.content__container__details--gray {
		margin: 0;
		width: 100%;
		text-align: center;
	}

	.content__container {
		text-align: center;
		width: 100%;
	}
	.content__container__heading {
		width: 100%;
		text-align: center;
	}
	.content__container__details {
		margin: 0;
		text-align: center;
		width: 100%;
	}

	.basics__content__img__container {
		order: 1;
	}

	.basics__content__container__heading {
		width: 100%;
		text-align: center;
		order: 2;
	}

	.basic__content__container__details {
		width: 100%;
		text-align: center;
		margin: 0;
		order: 3;
	}

	span {
		width: 100%;
	}

	.heading--black {
		font-size: var(--second-heading--font-size);
	}

	.second__heading {
		font-size: var(--second-heading--font-size);
	}

	.list__items {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	li {
		width: fit-content;
	}
}


